
// aquí iniciariamos el codigo en scss


//aplicamos el primer poder = NESTIGN


//llamamos a las variables
/*accedemos a las variables partials*/
@import "bases/listas";
@import "bases/mixin";
@import "bases/extend";
@import "componentes/variables";

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */


/* body */


body{
    background: $color-principal;
    margin: 1px;
}



/* titulos */

h1, h2{
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-size: larger;
    color: nth($colores, 3);
}
/* estilos de header */

/* navegacion */

header{
    @include medidas(2px);
    @extend %flex;
    nav{
    color: $color-secundario;
    text-decoration: none;
    display: flex;
    column-gap: 10px;
    background-color: $color-terceario;
    list-style: none;
    background-color: $color-terceario;
    @include medidas(5px);
    font-weight: bold;
    }
}


a{
    text-decoration: none;
    color: $color-terceario;
    font-weight: bold;
}


header a{
    text-decoration: none;
    
}


button{
    font-style: italic;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

header h1{
    font-size: 1.5rem;
    color: rgb(73, 60, 23);
    font-weight: bold;

}

main div{
    background-color: $color-principal;
}

div{
    background-color: $color-terceario;
    color: $color-secundario;
}

.menu{
    font-style: italic;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: $color-principal;
}


/* barra de navegacion fija */

.menu{
    position: sticky;
    top: 0;
    z-index: 2;
    
}

/* estilos del main */

main{
    background-color: $color-principal;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1.5fr 1fr 1fr 0.5fr;

    grid-template-areas:"main-p main-p"
                        "imagen-uno imagen-dos"
                        "imagen-tres imagen-cuatro"
                        "parrafo parrafo";
    justify-content: center;
    justify-items: center;
    align-items: center;                    


}

.img-nosotros{
    display: none;
    margin: 50px;
}

.girar{
    animation-name: girar;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes girar{
    fron{
        transform: scale(2s);

    }

    to{
        transform: scale(0.9);

    }
}


.mapa{
    grid-area: mapa;
}

/* main galeria */
.main-dos{
    grid-area: maindos;
}

.main-dos{
    @extend %grid;
    height: 155vh;
    grid-template-rows: 1.5fr 1fr 1fr 0.5fr;
    grid-template-areas:"main-p main-p"
                        "imagen-uno imagen-dos"
                        "imagen-tres imagen-cuatro"
                        "footer footer";
    justify-content: center;
    justify-items: center;
    align-items: center;   
}

.main-tres{
    @extend %grid;
    height: 100vh;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;

    grid-template-areas:"main-p main-p"
                        "imagen-uno imagen-dos"
                        "imagen-tres imagen-cuatro"
                        "parrafo parrafo"
                        "footer footer";
    justify-content: center;
    justify-items: center;
    align-items: center;   
    align-content: center;
}

.main-cuatro{
    @extend %grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 1.5fr 1fr 1fr 0.5fr;
    grid-template-areas: "main-p main-p"
                         "parrafo parrafo"
                         "mapa mapa"
                         "parrafo-dos parrafo-dos"
                         "footer footer";
    justify-content: center;
    justify-items: center;
    align-items: center;   
}

.main-cinco{
    @extend %grid;
    height: 100vh;
    grid-template-rows: 1.5fr 1fr 1fr 0.5fr;

    grid-template-areas:"main-p main-p"
                        "imagen-uno imagen-uno"
                        "imagen-dos imagen-dos"
                        "imagen-tres imagen-tres"
                        "parrafo parrafo";
    justify-content: center;
    justify-items: center;
    align-items: center;    
}


/* main */

.main-p{
    grid-area: main-p;
    text-align: center;
    font-weight: bold 2px 2px black;
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @include box-model;
    padding-top: 50px;
}

/* imagenes */

.animacion:hover{
        transform: scale(0.9);
        background-color: $color-terceario;
}

/* estilo al parrafo de la imagen */

figcaption{
    text-align: center;
    font-weight: bold;
    @include medidas(2px);
    
}


figcaption:hover{
    color: rgb(95, 90, 29);
}

.cortes{
    background-color: darkgoldenrod;
}

figcaption cite a:hover{
    color: $color-terceario;
}

.imagen-uno:hover{
    color: $color-terceario;
}
.imagen-uno{
    grid-area: imagen-uno;
    text-align: center;
    @include medidas(10px);
    align-self: center;
    color: rgb(68, 61, 41);
}

.imagen-dos:hover{
    color: $color-terceario;
}
.imagen-dos{
    grid-area: imagen-dos;
    text-align: center;
    @include medidas(10px);
    color: rgb(68, 61, 41);
}

.imagen-tres:hover{
    color: $color-terceario;
}
.imagen-tres{
    grid-area: imagen-tres;
    text-align: center;
    @include medidas(10px);
    color: rgb(68, 61, 41);
}

.imagen-cuatro:hover{
    color: $color-terceario;
}
.imagen-cuatro{
    grid-area: imagen-cuatro;
    text-align: center;
    @include medidas(10px);
    color: rgb(68, 61, 41);
}


/* estilo de los parrafos */

.parrafo{
    grid-area: parrafo;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @include medidas(5px);
    @include box-model;
}
.parrafo-dos{
    grid-area: parrafo-dos;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @include medidas(5px);
    @include box-model;
}


ul ol{
    font-size: larger;
    font-weight: bolder;
}


/* pie de pagina */

footer div{
    background-color: $color-terceario;
    grid-area: footer;
    text-align: center;
    font-size: large;
    color: #000;
    .afooter{
        color: black;

        .afooter:hover{
            background-color: $color-terceario;
        }
    }

}

footer{
    color: #000;
    grid-area: footer;
}


.contactohover:hover{
    background-color: $color-hover;
    text-decoration: none;
    color: $color-terceario;
    a:hover a:focus{
        background-color: $color-hover;
    }

}
/* mediaquerie */

/*mediaquerie mobile*/

@media screen and (min-width:600px){
    header h1, h2{
        font-size: 2.5rem;
    }

    header nav ul li{
        font-size: 1.5rem;
    }

    main{
        grid-template-columns: repeat(4, 0.2fr);
        grid-template-areas:"main-p main-p img-nosotros img-nosotros"
                            "imagen-uno imagen-dos imagen-tres imagen-cuatro"
                            "parrafo parrafo parrafo parrafo"
                            "footer footer footer footer";
        column-gap: 1rem;
        margin: 25px;
    
    }

    .main-dos{
        height: 180vh;
        grid-template-columns: repeat(2, 20fr);
        grid-template-areas: "main-p main-p"
                             "imagen-uno imagen-dos"
                             "imagen-tres imagen-cuatro"
                             "footer footer";
    }

    .img-nosotros{
        display: block;
        grid-area: img-nosotros;
    }

    .main-p{
        font-size: 1.5rem;
    }

    a:hover{
        background-color: $color-secundario;
    }

}


/*mediaquerie desktop*/


@media screen and (min-width:1024px){
    header{
        flex-direction: row;
        justify-content: space-around;
        background-color: $color-terceario;
    }

    body{
        font-family: 'Roboto', sans-serif;
        background-color: $color-principal;
        margin: 4px;

    }
    a:hover{
        background-color: $color-secundario;
    }
    
}
